body{
width: 80%;
margin: 10px;
background: brown;
text-align: center;
}
}
h1,h2 {
width: 10%;
height:20%;
padding: 3px;
margin: 2px;

div id
{
background: green;
border: 2px solid black;
}
zone
{
width: 30%;
height: 30%;
padding: 6px;
margin: 6px;
border: lightyellow

}




