
body{
!DOCTYPE html>

<html lang="fr">

<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="css/zoning1.css">

  <title>Exo zoning 1</title>

</head>

<body>

<div id="conteneur">

  <header>

    <p>

      Zone du haut

    </p>

  </header>

  <nav>Menu</nav>

  <section>

    <div class="rectangle1">

      <div class="rec1">lundi</div>

      <div class="rec2">mardi</div>

      <div class="rec3">mercredi</div>

      <div class="rec4">jeudi</div>

    </div>

    <div class="rectangle2">

      <div class="rec5">Vendredi</div>

      <div class="rec6">Samedi</div>

      <div class="rec7">Dimanche</div>

      <div class="rec8">Youpi!</div>

    </div>

    <div class="rectangle3">

      <div class="rec9">HTML</div>

      <div class="rec10">CSS</div>

      <div class="rec11">JS</div>

      <div class="rec12">PHP</div>

    </div>

    <div class="rectangle4">

      <div class="rec13">SQL</div>

      <div class="rec14">PYTHON</div>

      <div class="rec15">Vive</div>

      <div class="rec16">Le Code</div>

    </div>

  </section>

  <footer>

    <p>Zone du bas</p>

  </footer>

</div>

</body>

</html>

<!DOCTYPE html>

<html lang="fr">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/zoning_multiple_en_tableau.css">

    <title>Zoning multiple en tableau</title>

</head>

<body>

    <header>Zone du haut</header>

    <nav>Menu</nav>

    <section>

<table>

<tr>

    <td colspan="2" class="rose">PZ1</td>

    <td colspan="2" class="rose">PZ2</td>

    <td colspan="2" class="bleu">PZ5</td>

    <td colspan="2" class="bleu">PZ6</td>

    <td colspan="clear"></td>

</tr>

<tr>

    <td colspan="2" class="rose">PZ3</td>

    <td colspan="2" class="rose">PZ4</td>

    <td colspan="2" class="bleu">PZ7</td>

    <td colspan="2" class="bleu">PZ6</td>

    <td colspan="clear"></td>

</tr>

<tr>

    <td colspan="2" class="blue">PZ9</td>

    <td colspan="2" class="blue">PZ10</td>

    <td colspan="2" class="orange">PZ13</td>

    <td colspan="2" class="orange">PZ14</td>

</tr>

<tr>

    <td colspan="2" class="blue">PZ11</td>

    <td colspan="2" class="blue">PZ12</td>

    <td colspan="2" class="orange">PZ15</td>

    <td colspan="2" class="orange">PZ16</td>

    <td class="clear"></td>

</tr>

</table>

</section>

<footer>Zone du bas</footer>

</body>

</html>

sandra16 h 56
Sans titre 

body{

  background: lavender;

}

#conteneur{

    width: 960px;

sandra16 h 05
Sans titre 

<!DOCTYPE html>

<html lang="fr">

<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">


}



margin:10px auto;
border:2px solid white;
padding:0;
text-align:center;
background:white;
font-family:PT Sans,sans-serif
}
header{
img:
background-color: #787746;
height:100px;
width:200px;
clear:both,
float:left;

div#conteneur{
    width:770px;/*largeur*/    
background-color: white.
height:100px;
width: 50px;
border: 2px solid #AABB44;
text-align:left;/*centre le contenu de mon conteneur*/ 
}
h1#header
{
height:258px;
background:url(im/applejpg)no-repeat left top;

}
footer{
background-color:green;
height:100px;
width: 50px;
border: 1px;

nav{
    display:ine-line block;





