*{
margin: 0;

}
html,body{
    height: 100%;
}

.conteneur{
    min-height: 100%;
    height:100%;
    margin: 0 auto -100px;
}

header{
height: 100px;
background-color: chartreuse;
}

footer{
    height: 100px;
    position: relative;
    background: yellow;    
}
/*{
    margin: 0;
}
html,body{
    height: 100%;

}
.conteneur{
    min-height: 100%;
    height: 100%;

}
header{
height: 100%;
background: green;


}
footer{
height: 100%;
position: absolute;
width:100%;
bottom: 0;
background:blue;
}*/
