/*
1-je fais mon zoning
*/

.container-fluid{/* je defini le css de mon espace de stockage en css <div><:div>     */

background-color: red;
    height: 100vh;}
    nav{/* je regle la dimension de ma barre de menu <nav></nav> */      
    width: 100vw;background-color: #C55394;
    height: 10vh;}
    header{                     
    background-color: azure;
    height: 10vh;}
    .container{/* je regle la dimension de mon <main></main> */
    background-color: #fff;
    height: 55vh;
    width: 60vw;
    margin: 0 auto;}
    footer{
background-color: #E577B5;
    height: 10vh;    
    margin-top: 5vh;
    }