body{
    width:80%;
    margin:10px auto;
    font-family:cursive;
    background-color: brown;
    }
    #contenu{
        background-color:red;
        border:2px solid black;
    }
    header, footer{
        height:80px;
        background-color: blueviolet;
        color:white;
        text-align:center;
        padding-top: 6px;
    }
    nav{
        height:40px;
        background-color:#4a1a2c;
        color:#fff;
        padding-left:20px;
        padding-top:6px;
            }
    section{
        border:20px solid yellow;
        background-color: aquamarine;
        height:500px;
        text-align:center;
    }
    p{
        margin:0;

    }